body {
  font-family: Helvetica;
  color: #555;
}

.container {
    margin: 0px auto;
    width: 750px;
    padding: 90px 20px 20px 20px;
    font-family: Georgia, serif;
    position: relative;
}

.nav-bar {
  width: 100%;
  height: 64px;
  background-color: #00A876;  
  float: left;
  position: fixed;
  z-index: 1;
  box-shadow: 0px 4px 5px #888;
}

.nav-bar a {
  color: white;
  font-size: 20pt;
  padding: 40px;
  position: relative;
  top: 13px;
  text-decoration: none;
}


/* --------------- LOGINSIGNUP ---------- */
.login-signup {
  width: 900px;
  margin: auto;
}

.login-signup fieldset {
  background-color: #9A3FD5;
  border: 0px solid #dcdcdc;
  border-radius: 2px;
  color: white;
  float: left;
  margin: 30px 50px 0px 50px;
  padding: 20px;
  text-align: right;
  width: 300px;
  box-shadow: 5px 5px 5px #888;
}

.login-signup legend {
  width: 90px;
  background-color: #00A876;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
}

.login-signup #login {
  padding-top: 40px;
  height: 170px;
}

#error-explanation {
  margin-top: 10px;
  text-align: left;
  color: #a00;
}

/* --------------- SURVEY_ENGAGE ---------- */
.survey-link a {
  color: #000275;
  text-decoration: none;
  margin: 5px 0;
}

.survey-link p {
  margin: 10px 0;
}

/* --------------- CREATE_SURVEY ---------- */
/* Need to build a coord system here with postioning. */

#survey_create_form {
  margin: 10px auto;
  border: 5px ridge #00A876;
  box-shadow: 5px 5px 5px #888;
  background-color: ;
  width: 400px;
  left: 20%;
  text-align: center;
  width: 700px;
}

#survey_create_form #title {
  text-align: center;
  font-size: 22px;
  color: #006E4A;
}

#survey_create_form .question-tile {
  text-align: center;
  border: 1px solid #006E4A;
  border-radius: 5px;
  padding: 5px;
  width: 450px;
  margin: auto;
  padding-bottom: 10px;

}

#survey_create_form .question-field {
  width: 300px;
  margin: 10px auto;
}

#survey_create_form label {
  font-size: 18px;
  color: #006E4A;
  margin
}


#survey_create_form .remove-question {
  font-size: 15px;
  color: #006E4A;
  border: 1px solid #006E4A;
  border-radius: 3px;
  padding: 3px;
}

#survey_create_form .add-question {
  font-size: 15px;
  color: #006E4A;
  border: 1px solid #006E4A;
  border-radius: 3px;
  padding: 3px;
}

#survey_create_form .choice-field {
  margin: 5px 0px 0px 50px;
  width: 250px;
}

/* ------------- SURVEYS_DISPLAY ---------- */

.survey-list {
  border: 1px solid grey;
}

.survey-list {
  background: #642996;
}

.survey-list h1{
  color: #F7EEFF;
}

.each-survey {
  margin: 0px;
  float: left;
  clear: both;
  width: 100%;
}

.each-survey:nth-child(odd) {
  background: #BC9DCF;
}

.each-survey a:link {
  text-decoration: none;
  color: #49434D;
}


