<div class="nav-bar">
  <a href='/home'> SurveyGorilla </a>
  <% if current_user %>
    <a href='/users/<%= current_user.id %>'> Profile </a>
    <a href='/surveys/new'> Create Survey </a>
    <a href='/logout'> Logout </a>
  <% end %>
</div>
