<div class="question">
  <h3 class="question-title"><%= question.content %></h3>
  <% question.choices.each do |choice| %>
    <div class="choice">
      <input type="radio" name="<%= "selections[#{question.id}]" %>" value="<%= choice.id %>" required><%= choice.content %>
    </div>
  <% end %>
</div>
