<p>
  <label for="question">Question: </label>
  <input type="text" name="questions[][content]" placeholder='Enter your Question'>
  <span class="removeQuestion">Remove Question</span>
  <br><br><input type="text" name="questions[][choice1]" placeholder="choice 1">
  <br><input type="text" name="questions[][choice2]" placeholder="choice 2">
  <br><input type="text" name="questions[][choice3]" placeholder="choice 3">
</p>
