<% if surveys.empty? %>
  <div class="no-surveys">
  <% if message == "complete" %>
  	<% url = "/home" %>
  <% else %>
  	<% url = "/surveys/new"	 %>	
  <% end %>	
  <a href="<%= url %>"><p>You have yet to <%= message %> a survey.  Get after it!</p></a></div>
<% end %>
<% surveys.each do |survey| %>
  <%= erb :_survey, :locals => {:survey => survey} %>
<% end %>
