<div class='container'>
  <form id='survey-create-form' action="/surveys/new" method="post">
  <p>Survey Title:
    <input type="text" name="title" placeholder="Title">
  </p>
  <p>
    <span id="addQuestion">Add Question</span>
  </p>
  <p>
    <input type="submit" value="Create your Survey">
  </p>
  </form>
</div>
