<form id='survey_create_form' action="/surveys" method="post">
<p>Survey Title:
  <input type="text" name="survey_title" placeholder="Title">
</p>
<%= erb :_question_form %>
<p>
  <span id="add_question">Add Question</span>
</p>
<p>
  <input type="submit" value="Create your Survey">
</p>
</form>
