<form id='survey-create-form' action="/surveys" method="post">
<p>Survey Title:
  <input type="text" name="title" placeholder="Title">
</p>
<p>
  <label for="question1">Question 1: </label>
  <input type="text" name="question1" id="question1">
  <span class="removeQuestion">Remove Question</span>
</p>
<p>
  <span id="add_question">Add Question</span>
</p>
<p>
  <input type="submit" value="Create your Survey">
</p>
</form>
