<h2>Welcome back, <%=current_user.name%>!</h2>
<div class="buttons">
  <div class="create-survey-button"><a href="/surveys/new">Create Survey</a></div>
  <div class="see-surveys-button"><a href="/home">See All Surveys</a></div>
</div>
<div class="created-surveys">
  <div class="created-surveys-header"><h3>Created Surveys</h3></div>

  <%= erb :_survey_list, :locals => {:surveys => @user.created_surveys,
                                     :message => "create"} %>
</div>                                   

<div class="completed-surveys">
  <div class="completed-surveys-header"><h3>Completed Surveys</h3></div>
  <%= erb :_survey_list, :locals => {:surveys => @user.responded_surveys,
                                     :message => "complete"} %>
  </div>
</div>  
