<div class="survey-list">
  <div class="survey-list-header">
    <h1>Pick a survey of your fancy</h1>
  </div>  
    <% @surveys.each do |survey| %>
      <div class="each-survey">
        <h3><a href="/survey/<%=survey.id%>/engage"><%= survey.title %></a></h3>
        <div>By <a href="/users/<%=survey.creator.id%>"><%= survey.creator.name %></a></div>
      </div>  
    <% end %>
</div>
